* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
li {
  list-style: none;
}
.social-media a {
  color: #fff;
}
.nav-link:focus,
.nav-link:hover {
  color: #fff;
}
.modal {
  --bs-modal-width: 70%;
  background-color: rgba(129, 128, 128, 0.4);
}
.modal-content {
  margin-top: 6rem;
}
.modal-header {
  border: none;
}
.blog {
  background-color: #fff;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
}
.blog__title {
  text-align: center;
  text-transform: uppercase;
}
.blog__desc {
  text-align: center;
  text-transform: capitalize;
  padding: 1rem 0;
}
.blog__day {
  text-transform: capitalize;
  color: #999797;
}
.blog__image {
  width: 100%;
}
.blog__text {
  margin-top: 1.5rem;
  color: #333;
  font-size: 0.9rem;
}
.btn__interact {
  display: flex;
  justify-content: space-between;
}
.btn__interact .btn {
  border-radius: 0;
}
.btn__interact__like.active {
  background-color: #333;
  color: #fff;
}
.blog__replies {
  display: none;
}
.blog__replies.active {
  display: block;
}
.blog__replies__item {
  display: flex;
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 1px solid #ccc;
}

.blog__replies__avatar {
  flex: 0 0 auto;
  width: 8.33333333%;
}
.blog__replies__avatar img {
  width: 100%;
}
.blog__replies__content {
  flex: 0 0 auto;
  width: 91.66666667%;
  padding-left: 1rem;
}
.blog__replies__content-grey {
  color: #999797;
}
/* menu */
.menuTag {
  width: 100%;
  margin-bottom: 3rem;
}
.menuTag__title {
  background-color: black;
  color: #fff;
  padding: 0.9rem;
}
.menuTag__title h5 {
  text-transform: capitalize;
  margin: 0;
}
.menuTag__content {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 1rem;
}
.menuTag__content a {
  text-decoration: none;
}
.menuTag__content__item {
  display: inline-block;
  background-color: #ccc;
  padding: 0 0.5rem;
  color: #000;
  text-transform: capitalize;
  margin-bottom: 0.9rem;
  margin-right: 0.5rem;
}
.menuTag__content__item:hover {
  color: #fff;
  background-color: #000;
  transform: scale(1.1);
}
.menuTag__social a {
  color: #000;
  font-size: 1.5rem;
}
.menuTag__social a:hover {
  color: #000;
  transform: scale(1.1);
}
